<h1>User Repository</h1>
<div class="actions">
  <nav class="round">
    <ul>
    </ul>
  </nav>
</div>

<%= form_tag users_path, :method => 'get', :remote => true, :id => "users_search" do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  </p>

  <div id="users">
    <%= render 'user' %>
  </div>

<% end %>


