<h1 class="about">About Governator</h1>

<div class="contact">
  Contact: <a href="https://twitter.com/#!/mrjabba">@mrjabba</a> for questions. Project: <a href="https://github.com/mrjabba/governator">Governator</a>
</div>
<br/>
<div class="attribution">
  Icons courtesy: <a href="http://p.yusukekamiyamane.com/icons/attribution/">p.yusukekamiyamane</a> - <a href="https://twitter.com/#!/p_ykamiyamane">@p_ykamiyamane</a>
</div>
