<h1>Role Repository</h1>

<%= form_tag roles_path, :method => 'get', :remote => true, :id => "roles_search" do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
  </p>

  <div id="roles">
    <%= render 'role' %>
  </div>

<% end %>


